name: Check any R package at an URL

on:
  workflow_dispatch:
    inputs:
      inpurl:
        description: 'URL to a source R package'
        required: true
        type: string
      inpcont:
        description: 'Check container'
        required: true
        type: string
        default: 'ubuntu-release'

jobs:
  check:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/r-hub/containers/${{ github.event.inputs.inpcont }}:latest

    steps:
    - name: Download package
      run: |
        mkdir /check
        curl -LO "${{ github.event.inputs.inpurl }}" --output-dir /check

    - name: Manipulate CHECK_ARGS
      run: |
        if ! echo "$CHECK_ARGS" | grep -q -- --no-build-vignettes; then
          CHECK_ARGS="$CHECK_ARGS --no-build-vignettes"
        fi
        if ! echo "$CHECK_ARGS" | grep -q -- --no-manual; then
          CHECK_ARGS="$CHECK_ARGS --no-manual"
        fi
        echo "CHECK_ARGS=$CHECK_ARGS" >> $GITHUB_ENV

    - name: Install dependencies and check package
      run: r-check

    - name: Upload check result as artifact
      uses: actions/upload-artifact@v4
      with:
        name: check-results
        path: /check
