name: Check any R package at an URL

on:
  workflow_dispatch:
    inputs:
      inpcont:
        description: 'Check container'
        required: true
        type: string
        default: 'clang-asan'

jobs:

  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/r-hub/containers/ubuntu-release:latest
    steps:
      - uses: actions/checkout@v4
      - name: Build package
        run: R CMD build --no-manual .

      - name: Upload package artifact
        uses: actions/upload-artifact@v6
        with:
          name: pkg
          path: "*.tar.gz"
          retention-days: 1

  check:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/r-hub/containers/${{ github.event.inputs.inpcont }}:latest

    steps:
    - name: Download package
      uses: actions/download-artifact@v4
      with:
        name: pkg
        path: /check

    - name: Manipulate CHECK_ARGS
      run: |
        if ! echo "$CHECK_ARGS" | grep -q -- --no-build-vignettes; then
          CHECK_ARGS="$CHECK_ARGS --no-build-vignettes"
        fi
        if ! echo "$CHECK_ARGS" | grep -q -- --no-manual; then
          CHECK_ARGS="$CHECK_ARGS --no-manual"
        fi
        echo "CHECK_ARGS=$CHECK_ARGS" >> $GITHUB_ENV

    - name: Install dependencies and check package
      run: |
        set -e

        checkdir=${1-/check}

        do_check () {
          pkg=${1}
          echo Checking "$pkg"
          cd `dirname $pkg`
          R -q -e "pak::pkg_install('deps::$pkg', dependencies = TRUE)"
          R CMD check $CHECK_ARGS $pkg
          packagename=$(basename "$pkg" | sed "s/_.*$//")
          cd "${packagename}.Rcheck"
          fail=false
          exfile="${packagename}-Ex.Rout"
          pattern='UndefinedBehaviorSanitizer\|AddressSanitizer'

          if [ -f "${exfile}" ] && grep -q "${pattern}" "${exfile}"; then
              fail=true
              echo ----------------------------------------------------------
              echo "${exfile}"
              echo ----------------------------------------------------------
              cat "${exfile}"
              echo ----------------------------------------------------------
          fi

          testfiles=$(ls tests | grep ".Rout.fail$")
          for f in $testfiles; do
              if grep -q "${pattern}" "tests/${f}"; then
                  fail=true
                  echo ----------------------------------------------------------
                  echo "tests/${f}"
                  echo ----------------------------------------------------------
                  cat "tests/${f}"
                  echo ----------------------------------------------------------
              fi
          done

          if [ "$fail" = "true" ]; then exit 1; fi
        }

        for pkg in `ls $checkdir/*.tar.gz`; do
            do_check "$pkg"
        done
      continue-on-error: true

    - name: Upload check result as artifact
      uses: actions/upload-artifact@v4
      with:
        name: check-results-${{ github.event.inputs.inpcont }}
        path: /check
